doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		link(href="../../dist/css/admin.css",rel="stylesheet")
		link(href="../../editor/css/editormd.min.css",rel="stylesheet")
	body.sub-body
		.pos-rlt.p-md
			span 首页
			em >
			span 添加文章
		.p-md.m-top
			.panel.panel-default
				.panel-body
					.tab_t
						span.a.active 文章列表
				.pane-body.atricle-form
					form(action="/admin/article/save",method="post")
						input(type="hidden",name="_id",value="#{article._id}")
						input(type="hidden",name="hot",value="#{article.hot}")
						.form-group.m-h-n.clearfix
							label.control-label 标题：
							.col-sm-6
								input.form-control(type="text",name="title",value='#{article.title}')
						.form-group.m-h-n.clearfix
							label.control-label 文章别名：
							.col-sm-5
								input.form-control(name="alias",value='#{article.alias}')
						.form-group.m-h-n.clearfix
							label.control-label 文章摘要：
							.col-sm-6
								textarea.form-control(rows="5",name="remark") #{article.remark}
						.form-group.m-h-n.clearfix
							label.control-label 所属分类：
							.col-sm-2
								select.select(name="categoryId")
									each item in category
										if item._id.toString()== article.categoryId
											option(value="#{item._id}" selected) #{item.CateName}
										else
											option(value="#{item._id}") #{item.CateName}
						//.form-group.m-h-n.clearfix
						//	label.control-label 推荐到首页：
						//	.col-sm-6
						//		label.ui-switch.bg-danger.m-t-xs
						//			input(type="checkbox" checked)
						//			i
						.form-group.m-h-n.clearfix
							label.control-label 内容：
							.col-sm-11
								#editormd(style="margin:0")
									textarea.form-control(style="display:none;") #{article.markdownContent}
						.form-group.m-h-n.clearfix
							label.control-label
							.col-sm-6
								.submit_type.t-l
									button.btn.btn-sm.btn-danger(type="submit") 提交

		script(src="http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js",type="text/javascript")
		script(src="/editor/editormd.min.js",type="text/javascript")
		script(src="/js/adminBase.js",type="text/javascript")
		script.
			var testEditor;
			$(function () {
				testEditor = editormd("editormd", {
					width: "100%",
					height: 640,
					syncScrolling: "single",
					path: "/editor/lib/",
					saveHTMLToTextarea: true,
					//dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为 true
					//dialogShowMask : false,	 // 设置弹出层对话框显示透明遮罩层，全局通用，默认为 true
					//dialogDraggable : false,	// 设置弹出层对话框不可拖动，全局通用，默认为 true
					//dialogMaskOpacity : 0.4,	// 设置透明遮罩层的透明度，全局通用，默认值为 0.1
					//dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为 #fff
					imageUpload: true,
					imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
					imageUploadURL: "/upload"
				});
			});
