extends mixins/_layout

block content
	title 螺主
	body
		#circleG
			i#circleG_1
			i#circleG_2
			i#circleG_3
			
		#page
			// 头部
			include mixins/_header.jade
			+header(navigator)
			
			// 轮播
			section#bannerWrap.prel
				ul#banners.slides_ul
					each item in banner
						li
							a(href='#{item.url}')
								img(_src="#{item.imgPath}")
				ul#texts
					each item in banner
						li
							a(href='#{item.url}')
								i.icon.logo
								h2 #{item.title}
								p.more #{item.subject}
				ul#ideas
					each item in ideas
						li
							.detail
								i.icon.icon_1
								h3 #{item.title}
								p.more #{item.more}
				i.prev.icon_bf
				i.next.icon_bf
			// 主要内容
			section.models
				h2 #{company.title}
				p.sub #{company.sub}
				.main_intro
					.bigShow.defaultBg
						img.lazy(_src='#{company.bigImgPath}')
					.intro_text.c000 #{company.intro}
					ul.models_ul.intro_imgs
						each item in company.imgs
							li.defaultBg
								img.lazy(_src='#{item}')
						
				a.models_more(href='##') More<i class='icon'></i>
				
			section.models
				h2 丰富的项目经验
				p.sub Rich project experience
				ul.models_ul.experience
					each item in experience.list
						li
							a.defaultBg(href='#{item.url}')
								p.title #{item.title}
								img.lazy(_src='#{item.imgPath}')
				
				a.models_more(href='##') More<i class='icon'></i>
					
			section.models
				h2 #{news.title}
				p.sub #{news.sub}
				ul.models_News
					each item in news.newsList
						li
							a(href='#{item.url}')
								.img.defaultBg
									img.lazy(_src='#{item.imgPath}')
								h3.news_title #{item.news_title}
								p.time #{item.time}
								p.news_txt #{item.news_txt}
					
				a.models_more(href='##') More<i class='icon'></i>
				
			section.models
				h2 #{teams.title}
				p.sub #{teams.sub}
				ul.models_ul.team_members
					each item in teams.team_members
						li
							a(href='#{item.url}')
								.head.defaultBg
									img.lazy(_src='#{item.imgPath}')
								h3.members_name #{item.name}
								p.job #{item.job}
								p.intro #{item.intro}
					
				a.models_more(href='##') More<i class='icon'></i>
				
			section.models.contactus
				h2 #{contact.title}
				p.sub #{contact.sub}
				.ourAddr.icon_all 电话：#{contact.phone}<br>传真：#{contact.fax}<br>地址：#{contact.address}
				
			//底部
			include mixins/_footer.jade
			+footer(navigator, contact)
		
		script(src='dist/js/zepto.min.js')
		script(src='dist/js/base.js')
		script.
			$(function(){
				/* 轮播 */
				var slides = new Slides('#bannerWrap', {type:'index'});
			})