extends mixins/_layout

block content
	title 螺主
	body
		#circleG
			i#circleG_1
			i#circleG_2
			i#circleG_3
			
		#page.companyNews
			// 头部
			include mixins/_header.jade
			+header(navigator, 3)
			
			// 顶部图片
			section.commonTop.lazy(_src='dist/img/26.png')
				.warp.cfff
					i.logo
					h2 企业新闻，全面直击
					p.more Business news, comprehensive Watch
			// 主要内容
			section.models
				ul.models_News
					each item in news.newsList
						li
							a(href='#{item.url}')
								.img.defaultBg
									img.lazy(_src='#{item.imgPath}')
								h3.news_title #{item.title}
								p.time #{item.time}
								p.news_txt #{item.txt}
				
				if news.pages==2
					#pages.pages
						a.active(href='javascript:;') 1
						a(href='javascript:;') 2
				else if news.pages==3
					#pages.pages
						a.active(href='javascript:;') 1
						a(href='javascript:;') 2
						a(href='javascript:;') 3
				else if news.pages==4
					#pages.pages
						a.active(href='javascript:;') 1
						a(href='javascript:;') 2
						a(href='javascript:;') 3
						a(href='javascript:;') 4
				else if news.pages>=5
					#pages.pages
						a.prevPage(href='javascript:;')
						a.active(href='javascript:;') 1
						a(href='javascript:;') 2
						a(href='javascript:;') 3
						a.more(href='javascript:;') ...
						a(href='javascript:;') #{news.pages}
						a.nextPage(href='javascript:;')
				input#newsPages(type='hidden', value='#{news.pages}')
			//底部
			include mixins/_footer.jade
			+footer(navigator, contact)
				
		script(src='dist/js/zepto.min.js')
		script(src='dist/js/base.js')
		script.
			$(function(){
				var pages=$('#pages'), totals=$('#newsPages').val(), links=$(pages.children()), curpage=1;
				links.on('click',function(){
					var active=$(this).attr('class');
					if(curpage==1 || (curpage==1 && active=='prevPage')){return};
					console.log(active);
				})
			})