extends mixins/_layout

block content
	title 螺主
	body
		#circleG
			i#circleG_1
			i#circleG_2
			i#circleG_3
			
		#page.ourTeams
			// 头部
			include mixins/_header.jade
			+header(navigator, 1)
			
			// 顶部图片
			section.commonTop.lazy(_src='dist/img/27.png')
				.warp.cfff
					i.logo
					h2 螺主，优秀专业的施工队伍～
					p.more LuoZhu, excellent professional construction team.
			// 主要内容
			section.models.teamsTabs
				ul#tabHead.tabHead
					each item,i in teamsTabs
						li(class='#{i==0?"on":""}')
							a.tabIcon(href='javascript:;')
								i.icon_bf.icon_1
								| #{item.tabHead}
				#tabBody.tabBody
					each item,i in teamsTabs
						ul.ul(class='#{i==0?"on":""}')
							each val in item.tabBody
								li
									.personAbout
										.avatar.defaultBg
											img.lazy(_src='#{val.avatar}')
										.intro <span class='name'>#{val.name}</span>#{val.job}
											p.detail #{val.about}
									ul.works
										each works in val.works
											li
												a.img.defaultBg(href='cases?caseId=#{works.id}')
													img.lazy(_src='#{works.imgPath}')
				
			
			img.lazy.fullW.show(_src='dist/img/28.png')
			//底部
			include mixins/_footer.jade
			+footer(navigator, contact)
				
		script(src='dist/js/zepto.min.js')
		script(src='dist/js/base.js')
		script.
			$(function(){
				var tabHead = $('#tabHead'), heads=tabHead.children(), tabBody = $('#tabBody'), uls=tabBody.children();
				heads.on('click',function(){
					var index=$(this).index();
					$(this).show().addClass('on').siblings().removeClass('on');
					$(uls[index]).show().siblings().hide().removeClass('on');
					setTimeout(function(){
						$(uls[index]).addClass('on');
					},200);
				});
			})