mixin header(className)
	header#head
		.wrap.prel
			a.logo(href='index.html')
				img(src='images/logo_top.png')
			ul#nav.fr
				li
					a(href='about.html', class='#{className==0?"active":""}') 关于我们
				li
					a(href='teams.html', class='#{className==1?"active":""}') 团队成员
				li
					a(href='cases.html', class='#{className==2?"active":""}') 服务案例
				li
					a(href='news.html', class='#{className==3?"active":""}') 企业新闻
				li
					a(href='contactus.html', class='#{className==4?"active":""}') 联系我们